@{
    ViewBag.Title = "Home Page";
}
@model ConnectionTest.Models.TestModel

<div class="jumbotron">
    <h2>連線測試</h2>
    <p>
        實體 IP: @Model.Ip
    </p>
</div>

<form>
    <div class="row">
        <div class="col-md-12">
            <b>連線字串</b>
            <p>
                <input id="connectionString" type="text" name="connectionString" class="form-control" value="Data Source=ip,port;Initial Catalog=database;Persist Security Info=True;User ID=account;Password=password;MultipleActiveResultSets=True;Application Name=ConnectionTest;" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>查詢</b>
            <p>
                <textarea id="sql" name="sql" class="form-control" rows="5">select top 10 * from Table</textarea>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-lg " id="query" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> 執行中...">查詢</button>
            </p>
        </div>
    </div>
</form>

<div class="col-md-12">
    <h2>查詢結果</h2>
    <p id="partial">
    </p>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#query').click(
                function () {
                    var $this = $(this);
                    $this.button('loading');
                    $.ajax({
                        url: "/Home/Query",
                        type: "POST",
                        data: $('form').serialize(),
                        success: function (result) {
                            $('#partial').html(result);
                        },
                        error: function (xhr) {
                            $('#partial').html(xhr.responseText);
                        },
                        complete: function () {
                            $this.button('reset');
                        }

                    });
                    return false;
                });
        });
    </script>
}
