@using System.Data
@model System.Data.DataSet

@if (@ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@foreach (DataTable dt in Model.Tables)
{
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            @foreach (System.Data.DataColumn col in dt.Columns)
            {
                <th>@col.Caption</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (System.Data.DataRow row in dt.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                    <td>@cell.ToString()</td>
                }
            </tr>
        }
        </tbody>
    </table>
    <br/>
}
